@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'Poppins', 'Kantumruy Pro', sans-serif;
	font-display: optional;
}

body::-webkit-scrollbar {
	display: none;
}

.layout-wrapper {
	z-index: 1;
}

.layout-wrapper::before {
	position: fixed;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 20%;
	background: #000000;
	filter: url(#noiseFilter);
	pointer-events: none;
}

.layout-wrapper svg {
	width: 0px;
	height: 0px;
}
