@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #08090c;
		--background: #f6f6f9;
		--primary: #5b65b3;
		--secondary: #a1a9dd;
		--accent: #6372d4;
	}
	.dark {
		--text: #f3f4f7;
		--background: #060609;
		--primary: #4c56a4;
		--secondary: #222a5e;
		--accent: #2b3a9c;
	}
}

:root {
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'Poppins', 'Kantumruy Pro', sans-serif;
	font-display: optional;
}

body::-webkit-scrollbar {
	display: none;
}
